spring:
  config:
    activate:
      on-profile: alpha, beta
logging:
  level:
    root: INFO

---
spring:
  config:
    activate:
      on-profile: perf
logging:
  level:
    root: OFF
    io.dave.shorter.adapter.outbound.event: OFF
