spring:
  datasource:
    hikari:
      maximum-pool-size: 50
      minimum-idle: 50
      idle-timeout: 60000
      max-lifetime: 600000
  jpa:
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: localhost
      port: 6379

---
spring:
  config:
    activate:
      on-profile: infra
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/mydatabase?allowPublicKeyRetrieval=true&useSSL=false
    username: app_rw
    password: app_rw
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never