management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
      base-path: /actuator
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: snowflake-shorter
    web:
      server:
        requests:
          requests-seconds:
            metric-name: http.server.requests
            auto-time-requests: true
